.idea

# pyenv local 설정
.python-version

# 환경 변수
.env

# 리소스 파일
Resource/Image/*
Resource/Audio/*
Resource/Scenario/*

# yaml 파일 삭제
Resource/Deployment/*.*

# Config
Config/*.*
!Config/kube_sample.yaml
